h1{
    color: silver;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img{
    width: 300px;
    height: 300px;
    margin: 10px 0 10px 0;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    display: flex;
    width: 50%;
    justify-content: space-around;
    border: 2px solid silver;
}
.text{
    width: 60%;
    color: silver;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid silver;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 10px 0 10px;
    font-size: 1.5rem;
}
